.header{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 20px 80px; 
  /* background: #E3E6F3; */
  /* border for navbar */
  box-shadow: 0 5px 15px rgba(0,0,0,0); 
  /* for sticky navabr */
  /* z-index: 999; */
  position: sticky;
  top: 0;
  left: 0;
  
}

.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 150px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  padding-top: 20px;
}

.sidenav a:hover {
  color: #f1f1f1;
  padding-top: 10px;
  background: #d65479;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #a6adae,
              0 0 25px #95a2a2,
              0 0 50px #7f8c8d,
              0 0 100px #8b999a;
}

.main {
  margin-left: 240px; /* Same as the width of the sidenav */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-align: center;
  height: 100%;
  overflow: hidden;
  margin: inherit;
  padding-top: 100px;
}
  
.list {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-align: center;
    height: 100%;
    overflow: hidden;
    margin: inherit;
  }
  
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #370926;
  }
  .nav ul li {
    display: inline-block;
  }
  .nav ul li a {
    color: rgba(255, 255, 255, 0.45);
    font-size: 0.875rem;
    display: block;
    text-decoration: none;
    padding: 6px 15px;
  }
  .nav ul li a:hover {
    color: #fff;
  }
  
  .section {
    height: 100%;
    width: 100%;
    display: table;
    pointer-events: none;
    z-index: 0;
    -webkit-transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
    transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
  }
  .section h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-weight: lighter;
  }
  
  #opos {
    background: #42113C;
  }
  
  #oneg {
    background: #618B25;
  }
  
  #abpos {
    background: #6BD425;
  }

  #abneg {
    background: #42113C;
  }

  #apos {
    background: #6BD425;
  }

  #aneg {
    background: #42113C;
  }
 
  #bpos {
    background: #6BD425;
  }

  #bneg {
    background: #42113C;
  }
 
  
  .a[id="opos"]:target ~ #opos {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .a[id="oneg"]:target ~ #oneg {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  
  .a[id="abpos"]:target ~ #abpos {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }

 .a[id="abneg"]:target ~ #abneg {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .a[id="apos"]:target ~ #apos {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  
  .a[id="aneg"]:target ~ #aneg {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }

  .a[id="bpos"]:target ~ #bpos {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .a[id="bneg"]:target ~ #bneg {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }